@charset "utf-8";
/* CSS Document */

a{ font-style:none;  }
article{ margin:1em;  padding:0.5em; box-shadow:0px 20px 20px 0px #rgba(50,50,50,0.15); background:#fff; border:1px solid #FFF; width:98%; padding-bottom:1.5em; }
article:hover{ background:#FFF;  border:1px solid rgba(258,188,5,0.2);}
body{ background:#f9f9f9; font-size:10px; margin:0px; padding:0px; font-family: 'Roboto', sans-serif; }/*font-family: 'Roboto', sans-serif; */

footer{ border-top:2px solid #999; padding:2em; color:#666;}
h2{ background:#f5f5f5; border-radius:0.5em;}
h3{ font-size:2em; font-weight:bold;}
header{ width:100%;}

input, select , textarea{ transition:all 0.25s; perspective:550px; perspective-origin: 50% 10%; position:relative; width:99%;   border:none; border-bottom:1px solid #ccc; background:#fcfcfc; padding:0.4em; outline:0px;}
input:hover, select:hover, textarea:hover{ box-shadow:0px 0px 5px #f5f5f5; border-bottom:1px solid #11A861;}
input:focus, select:focus, textarea:focus{ box-shadow:0px 0px 5px #f5f5f5; border:1px solid #FBBC05;}
li{ display:inline-block; list-style:none; position:relative; top:50%; font-size:1.4em; margin-right:0.5em;}
li:hover{}

nav{
	background: #11a861;
	margin: 0px;	
	padding:0px;
	width:100%;
}
nav li a { color:#FFF; font-size:16px; text-decoration:none;}
ul{ margin:0.2em 0em 0.2em 0em; padding:1em;   }
section{ max-width:1024px; margin:0px auto; perspective:50%; perspective-origin: 40% 20% 10%; transform-style: preserve-3d;}
select{appearance: textfield;}
table tr td{ background:none; border:1px solid #CCC; font-size:1.2em;}

.one, .two, .three, .four{  transform:color 1s; animation-duration: 4s;}
.one{ background: #11A861; color:#fff; }.one:hover{ background: #fff; color:#000; border:1px solid #FBBC05; }
.two{ background: #FBBC05; color:#fff; }.two:hover{ background: #fff; color:#11A861; border:1px solid #11A861;}
.three{ background: #EA4335; color:#fff; } .three:hover{ background: #fff; color:#EA4335;  border:1px solid #EA4335;} 
.four{ background: #4285F4; color:#fff;  } .four:hover{ background: #fff; color:#4285F4;  border:1px solid #4285F4;} 

.bact{ background: #fff; color:#333; border:1px solid #FBBC05;  } .bact:hover{ background: #FBBC05; color:#fff; border:1px solid #FBBC05; }
.bver{ background: #fff; color:#11A861; border:1px solid #11A861; } .bver:hover{ background: #11A861; color:#fff; border:1px solid #11A861;}
.beli{ background: #fff; color:#333; border:1px solid #EA4335; } .beli:hover{ background: #EA4335; color:#fff; border:1px solid #EA4335;} 
.bgua{ background: #4285F4; color:#fff; border:1px solid #4285F4;  } .bgua:hover{ background: #fff; color:#4285F4; border:1px solid #4285F4;} 

.iact{ color:#FBBC05; } .iact:hover{ background: #FBBC05; color:#fff; border:1px solid #FBBC05; }
.iver{ color:#11A861; } .iver:hover{ background: #11A861; color:#fff; border:1px solid #11A861;}
.ieli{ color:#EA4335; } .ieli:hover{ background: #EA4335; color:#fff; border:1px solid #EA4335;} 
.igua{ color:#4285F4; } .igua:hover{ background: #4285F4; color:#fff; border:1px solid #4285F4;} 

.norma, #recomendado, .aplicaciones{ transition:all 1s; position:relative;}
.table tr td{ background:none; border:0px solid #CCC;  }
table tr:hover td{ background:#eee;}
.table tr:hover td{ background:#fefefe;}

#buscar{ width:50%;}
/*#dat1,#dat2,#dat3{ width:13%; display:inline-block; vertical-align:top;}*/
#excel{ padding:0.5em; font-size:1.5em; background:#499405; color:#FFF;}
#excel,#word{ display:inline-block; vertical-align:top; cursor:pointer;}
#franjamenu{ background:#fff; padding:0.1em; }
#gobernacion{   background:#fff;}
#header{ background:#f1f1f1;  padding:1.4em; }
#img1{ background:#b3c833 url('http://aplicaciones.narino.gov.co/SAJ/img/inicio01.png'); width:100%; position:absolute; left:0px; height:200px; background-size:100%;
	background-position:0% 90%}
#narinomejor{ margin-left:2em;}
#narinomejor, #tema{ display:inline-block; vertical-align:top;}

#sidebar{ z-index:1; }
#tema{ color:#777; text-shadow: 0px 2px 3px #f5f5f5; font-size:2.2em; padding:0.5em; }
#usuario{ left:100%; position:relative; font-size:0.5em;  }
#word{ padding:0.5em; font-size:1.5em; background:#015BF1; color:#FFF;}

/*.aplicaciones{ transform: translateZ(0) rotateX(0) rotateY(0) scale(1); overflow:hidden;}
.aplicaciones:hover{ transform: translateZ(0) rotateX(5deg) rotateY(-5deg) scale(1.1); }*/

.aplicaciones{ transform: translateZ(0px) rotateZ(0) scale(1);}
.aplicaciones:hover{ transform: translateZ(100px) rotateZ(1deg) scale(1.05);}

.ayuda{ font-size:1.2em; width:100%;}
.bpeque{ font-size:1.8em; width:25px; margin-top:15px;}
.cedulaEncontrada{ color:#F00; font-weight:bold; font-size:1.4em;}
.contenedor{ margin-top:2em; width:100%;  }
.contenedor .lista .tablaTitulos {	font-weight:bold;}
.contenedor .lista { background:#FFF; }
.dialog{transition:none;}
.elementos{ transform: translateZ(0px) rotateZ(0) scale(1);}
.elementos:hover{ transform: translateZ(60px) rotateZ(-1deg) scale(1.1);}
.lista tr td{ border:1px solid #CCC; font-size:1.4em;}
.objeto{ width:50%;}
.objeto1, .objeto2, .objeto3{ display:inline-block; vertical-align:top; width:31%;}
.objLista{ width:10em; }
.objform { font-size:2em; width:20%; display:inline-block; vertical-align:top; margin-top:15px; margin-left:15px; border-radius:0px;}

.objtable{ font-size:1.4em; width:180px; margin-top:15px; }
.pb{ font-size:20px; color:#fff; padding:12px; background:#49aca8; width:90%; margin:10px; border-radius:5px; }
.pm{ font-size:20px; color:#fff; padding:12px; background:#c00; width:100%; margin:10px; border-radius:5px;}
.mibotonTable{ background:#b3c833; color:#FFF; border:none; width:100%; font-weight:bold; text-shadow:0px 0px 5px rgba(0,0,0,0.3); font-size:1em;}
.miboton{ background:#b3c833; color:#FFF; border:none; width:100%; font-weight:bold; text-shadow:0px 0px 5px rgba(0,0,0,0.3); font-size:2em;}
.miboton:hover{ background:#c1d739; color:#FFF; border:none;}


.norma{ background:#FFF; margin:0.5em; width:30%; height:210px; display:inline-block; border:1px solid #ddd; padding:0.5em; overflow:hidden;}
.norma:hover{ box-shadow:0.5em 0.5em 2em #999; cursor:pointer; z-index:1000; border:1px solid #fff;}

.normades{ margin:0px; font-size:1.9em; position:absolute; width:95%; margin-top:0.5em;}
.normaimg{ height:150px; width:100%; background:#000; border-radius:0em;}
.normaimg:hover{ border-radius:0.5em;}
.primera{ margin-left:5px;;}
/*.titulo, .objeto{ display:inline-block; vertical-align:top; }*/
.recomendado{ width:98%; overflow-x:auto; overflow-y:hidden; margin:1em; padding:1em; box-shadow:0px 0px 4px #999; background:#fff; border:1px solid #FFF;}
.titulo{ width:100%; font-size:1.5em;}
.titprincipal{ color:#5f5f5f; text-shadow: -1px -2px 3px rgba(255,255,255,.5); font-size:2.5em; margin-top:1em; font-weight:normal; }


/*Informes*/
.contenedorA{ display:inline-block; vertical-align:top; padding:2em; border:1px solid #dfdfdf;}
.selectorI{ width:25px;}
.selectorI,.titForm,.objForm{ display:inline-block; vertical-align:top; }
.titForm{ width:150px; }
.objForm{ font-size:1.8em; width:80%; display:inline-block; vertical-align:top; margin-top:15px;}
.objetoI input, .objetoI select, .objetoI textarea{width:100%;} 


.menu-fijo {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow:0px 5px 10px rgba(50,50,50,0.5);
}

@media (min-width: 1024px) {
	section{ max-width:1200px; margin:0px auto;}
}
